.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6e842a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

td {
  font-size: small;
  text-align: left;
  border-right: white solid 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.firstcolumn {
  font-size: small;
  text-align: left;
  border-right: white solid 1px;
  border-left: white solid 1px;
  padding-right: 5px;
  padding-left: 5px;
}

th {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.inputtextfind {
  font-size: x-large;
  width: 50%;
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
